.black{
    color: white;
    background-image: url("bg.webp") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.size{
    font-size:larger;
}
.side{
    display: flex;
    flex-direction: row;
    height: fit-content;
    gap: 20px;
    
}
.wel{
    text-align: center;
    color:whitesmoke;
    font-size: x-large;
}
.sec{
    text-align: center;
    background-color: darkgray;
    color:whitesmoke;
    font-size: larger;
}
.benefits h2{
    color: #28a745;
    margin-bottom: 30px;
    font-size: xx-large;
}
.benefits-card{
    font-size: larger;
    width: 300px;
    margin: 15px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0, 1);
}
.benefits-card{
    color: #28a745;
    font-size: large;
}
.benefits-card:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.card-container{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.card{
    width: 250px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0,2);
}
.daily{
    font-size: x-large;
    text-align: left;
    padding-top: 10px;
    font-size: larger;
}
.act{
    color: whitesmoke;
    text-align: left;
    padding: 10px;
    font-size: large;
}

.uniform-size{
    height: 25%;
    width: 25%;
}

section{
    text-align: left;
}
.contact{
    padding: 20px;
    margin: 0%;
    font-size: larger;
    align-items: left;
}
.con{
    padding: 10px;
    margin: 0%;
    align-items: left;
}
.display{
    display: flex;
    gap: 20px;

}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ex{
    font-size: larger;
}
.ca-con{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.car{
    border: 10px;
    gap: 10px;
    padding: 10px;
}
.tain{
    border: 10px;
    gap: 10px;
    padding: 10px;
}
.cc{
    display: flex;
    flex-direction: row;
    gap: 10px;

}
.wholeborder{
    border: 10px;
    margin: 10px;
    border-radius: 5%;
}
.conclusion{
    font-size: larger;
}
.para-con{
    font-size: large;
}
.pho{
    display: flex;
    flex-direction: center;
    height: 15px;
    width: 15px;
}